!!! 5
%html
  %head
    %title Hacker Says
    %link(rel="stylesheet" type="text/css" href="themes/base.css")
    - themes.each do |theme|
      %link(rel="stylesheet" type="text/css" href="themes/#{theme}/#{theme}.css")
    
    %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    %script(type="text/javascript" src="jquery.history-v1.7.1-r2.js")
    %script(type="text/javascript" src="script.js")
    
    :javascript
      var $currentQuote = #{Yajl::Encoder.encode @quote};
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12994604-4']);
      _gaq.push(['_setDomainName', 'hackersays.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
  %body(data-theme="sepia")
    #header
      %h1
        %a(href="/") Hacker Says
      %p.share
        %a(href="https://github.com/jarmo/hackersays/issues") Submit Your Quote
        or
        %a(href="https://github.com/jarmo/hackersays") Fork for Theming

    #tagline
      %p.tagline
        Best programming and hacker quotes. Ever.
      %p.by
        Curated by fellow hackers
        %a(href="http://itreallymatters.net") Jarmo
        %span.amp &amp;
        %a(href="http://themoll.com") Andri

    #themes 
      %ul
        - themes.each do |theme|
          %li(data-theme=theme)>
            - title = theme.capitalize
            %a{:title => "Switch to #{title}"}
              %img{:alt => title, :src => "/themes/#{theme}/icon.png"}

    %blockquote#quote
      %p
        %span
      %cite
          
    #share
      .button#tweet-button
      .button#fb-button
