!!! 5
%html
  %head
    %title
      Hacker Says - quote by
      = @selected_quotes.first[:a]
    %link(rel="stylesheet" type="text/css" href="themes/base.css")
    - themes.each do |theme|
      %link(rel="stylesheet" type="text/css" href="themes/#{theme}/#{theme}.css")
    
    %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    %script(type="text/javascript" src="jquery.history-v1.7.1-r2.js")
    %script(type="text/javascript" src="jquery.bxSlider.min.js")
    %script(type="text/javascript" src="jquery.cookie.js")
    %script(type="text/javascript" src="hackersays.js")
  %body(data-theme="sepia")
    #header
      %h1
        %a(href="/") Hacker Says
      %p.share
        %a(href="https://github.com/jarmo/hackersays/issues") Submit Your Quote
        or
        %a(href="https://github.com/jarmo/hackersays") Fork for Theming

    #tagline
      %p.tagline
        Best programming and hacker quotes. Ever.
      %p.by
        Curated by fellow hackers
        %a(href="http://itreallymatters.net") Jarmo Pertman
        %span.amp &amp;
        %a(href="http://themoll.com") Andri Möll

    #themes 
      %ul
        - themes.each do |theme|
          %li(data-theme=theme)>
            - title = theme.capitalize
            %a{:title => "Switch to #{title}"}
              %img{:alt => title, :src => "/themes/#{theme}/icon.png"}
    
    #container 
      %ul#quotes{:class => @quote_by_id ? "via-link" : ""}
        - @selected_quotes.each do |quote|
          %li{"data-id" => quote[:id]}
            %blockquote.quote
              %p
                %span= quote[:c]
              %cite= quote[:a]

    #toolbar
      %a.play(href="#")

    #template
      %li
        %blockquote.quote
          %p
            %span
          %cite
